.build-progress {
  padding: 100px 0 80px;
  // .build-progress__title
  &__title {
    margin-bottom: 35px;
  }

  // .build-progress__box-img
  &__box-img {
    border-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .5s ease-in-out;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
    img,
    picture {
      opacity: 0;
    }
  }

  
}
