.build-progress {
  padding: 100px 0 80px;
  // .build-progress__title
  &__title {
    margin-bottom: 35px;
  }

  // .build-progress__box-img
  &__box-img {
    border-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .5 ease;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
      scale: 1.05;
    }
    img,
    picture {
      opacity: 0;
    }
  }

  // .build-progress__img
  &__img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    &:hover {
      filter: none;
      scale: 1.1;
    }
  }
}
