.documents {
  padding: 110px 0;

  // .documents__item
  &__item {
    overflow: hidden;

    background-color: $accentColor;
    border-radius: 10px;
    position: relative;
    &::before {
      @include pseudo;
      @include wh(76px);

      position: absolute;

      left: -25px;
      top: -25px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      animation-name: scale-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    &::after {
      @include pseudo;
      @include wh(200px);

      position: absolute;

      left: -115px;
      top: -115px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      animation-name: scale-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
