.gallery {
  padding: 92px 0 110px;
  // .gallery__title
  &__title {
    margin-bottom: 50px;
  }
  // .gallery__control
  &__control {
    width: 100%;
    height: 42px;
    @include flex(space-between, center);
  }
  // .gallery__buttons
  &__buttons {
    @include flex(space-between);
    width: 100px;
    height: 100%;
  }
 
  .swiper-pagination {
    max-width: 100%;
  }
  .swiper-pagination-bullet {
    &-active {
      color: $textSecondColor;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgb(54, 54, 54);

    &:hover {
      background-color: $accentColor;
    }
    &::after {
      @include background(url("@img/icons/gallery-arrow.svg"));
    }
  }
  .swiper {
    margin-bottom: 30px;
    position: relative;
    &-slide {
      border-radius: 10px;

      position: relative;

     
    }
    &-scrollbar {
      position: relative;
      background-color: #d9d9d9;
      height: 1px;
      bottom: 0;
      left: 0;
      margin: 30px 0 10px;

      &-drag {
        background: $accentColor;
        height: 3px;
        top: -1.5px;
      }
    }
    &-pagination {
      position: relative;
      display: flex;
     
    }
    &-pagination-bullet {
      opacity: 0;
      width: 0;
      font-family: "Montserrat-SemiBold";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      color: $textMainColor;
      &-active {
        opacity: 1;
      }
    }
  }
}
.container {
}
.title {
}
.title--extrabold {
}
.swiper {
}
.gallerySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
