.gallery {
  padding: 92px 0 110px;
  // .gallery__title
  &__title {
    margin-bottom: 50px;
  }
  // .gallery__control
  &__control {
    width: 100%;
    height: 42px;
    @include flex(space-between, center);
  }
  // .gallery__buttons
  &__buttons {
    @include flex(space-between);
    width: 100px;
    height: 100%;
  }
  .swiper-scrollbar {
    position: relative;
    margin-top: 35px;
    background-color: #d9d9d9;
    &-drag {
      top: 0;
    }
  }
  .swiper-pagination {
    max-width: 100%;
  }
  .swiper-pagination-bullet {
    &-active {
      color: $textSecondColor;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgb(54, 54, 54);
    
    &:hover {
      background-color: $accentColor;
    }
    &::after {
      @include background(url("@img/icons/gallery-arrow.svg"));
    }
  }
}
.container {
}
.title {
}
.title--extrabold {
}
.swiper {
  margin-bottom: 30px;
  position: relative;
}
.gallerySwiper {
}
.swiper-wrapper {
}
.swiper-slide {
  border-radius: 10px;
}

.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
