.plans {
  padding: 80px 0 115px;

  // .plans__tablist
  &__tablist {
    max-width: 500px;
    margin: 0 auto 10px;
  }

  &__link.nav-item.show .nav-link,
  &__link.nav-link.active {
    background-color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 43px;

    color: $textAccentColor;
  }
  .nav-tabs {
    border-bottom: none;
  }
  // .plans__link
  &__link.nav-link {
    @include flex(center, center);
    width: 148px;
    height: 50px;

    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid $mainColor;
    color: $textTabColor;
    border-radius: 43px;
  }

  // .plans__content-item
  &__content-item {
    background-color: $secondColor;
    border: 1px solid $thirdColor;
    border-radius: 10px;
    padding-bottom: 30px;
    img,
    picture {
      border-radius: 10px;
    }
  }

  // .plans__subtitle
  &__subtitle {
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $textMainColor;
  }

  // .plans__text
  &__text {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $textThirdColor;
  }
}
