.prime {
  position: relative;
  --padding-top: clamp(50px, 75.89vw + -702.86px, 390px);
  --padding-bottom: clamp(30px, 10.19vw + -6.67px, 140px);
  padding: var(--padding-top) 0 var(--padding-bottom);
  // .prime__content
  &__content {
    position: relative;
    z-index: 2;
    gap: 4px;
  }
  // .prime__content-box
  &__content-box {
    &:last-child {
      position: relative;

      max-width: 255px;
    }
  }

  // .prime__text-box
  &__text-box {
    position: relative;

    padding: 70px 20px;
    @include flex(center, center, $flex-direction: column);
    --size: clamp(155px, 22.32vw + -66.43px, 255px);
    @include wh(var(--size));
    border-radius: 50%;

    background-color: $accentColor;
    box-shadow: 0px 10px 40px rgba(238, 149, 40, 0.6);
    &::before {
      @include pseudo;
      --size-before: clamp(140px, 22.32vw + -81.43px, 240px);
      @include wh(var(--size-before));
      border-radius: 50%;
      position: absolute;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      border: 1px solid #fff;
    }
    &::after {
      @include pseudo;
      @include background(url("@img/icons/prime-stars.svg"));
      width: 46px;
      height: 34px;
      position: absolute;
      right: 24%;
      top: 35px;
      @include media(max, xl) {
        display: none;
      }
    }
  }

  // .prime__subtitle
  &__subtitle {
  }
  // .prime__title
  &__title {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
    --prime-title-font-size: clamp(26px, 5.09vw + -3.33px, 70px);
    --prime-title-line-height: clamp(35px, 4.63vw + 18.33px, 85px);
    font-size: var(--prime-title-font-size);
    line-height: var(--prime-title-line-height);

    color: $textAccentColor;
  }
  // .prime__btn
  &__btn {
    @include flex($align-items: center);
    padding: 23px 60px 23px 30px;
    width: 100%;
    max-width: 349px;
    height: 70px;

    background-color: $mainColor;
    box-shadow: 0px 10px 30px rgba(84, 145, 39, 0.4);
    border-radius: 73px;
    font-family: "Montserrat-Medium";
    font-weight: 500;
    --btn-font-size: clamp(14px, 1.47vw + 8.71px, 20px);
    font-size: var(--btn-font-size);
    line-height: 24px;

    color: $textAccentColor;

    position: relative;
    margin-top: 62px;
    &::after {
      @include pseudo;
      @include background(url("@img/icons/drag-move-line.svg"));
      @include wh(24px);
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      @include pseudo;
      @include wh(50px);
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }
  // .prime__text
  &__text {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    --prime-text-size: clamp(16px, 0.89vw + 7.14px, 20px);
    font-size: var(--prime-text-size);
    --prime-text-line-height: clamp(18px, 1.34vw + 4.71px, 24px);
    line-height: var(--prime-text-line-height);
    text-align: center;

    color: $textAccentColor;
  }

  .text {
    &--extrabold {
      font-family: "Montserrat-ExtraBold";
      font-weight: 800;
      --prime-text-extrabold-size: clamp(40px, 5.36vw + -13.14px, 64px);
      font-size: var(--prime-text-extrabold-size);
      --prime-text-extrabold-line-height: clamp(56px, 4.91vw + 7.29px, 78px);
      line-height: var(--prime-text-extrabold-line-height);
      text-align: center;
      text-transform: uppercase;
    }
  }
  // .prime__control
  &__control {
    margin-top: 10px;

    @include flex(space-between, center);
    gap: 85px;
    width: 255px;
  }
  // .prime__buttons
  &__buttons {
    @include flex(space-between, center);
    gap: 20px;

    height: 32px;
  }

  .swiper {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
  }
  .primeSwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    position: relative;

    &::before {
      @include pseudo;

      position: absolute;
      @include wh(100%);
      left: 0px;
      top: 0;

      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    right: 0;
    @include wh(32px);

    border-radius: 50%;
    &:hover {
      background-color: $accentColor;
    }
    &::after {
      @include background(url("@img/icons/Arrow.svg"));
    }
  }

  .swiper-button-next {
  }

  .swiper-button-next {
    right: 0px;

    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  .swiper-button-disabled {
    &::after {
    }
  }

  .swiper-button-prev.swiper-button-disabled {
    &::after {
      // transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .swiper-button-next.swiper-button-disabled {
    &::after {
      // transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  .swiper-scrollbar {
    margin-top: 45px;
    position: relative;
    background: $textAccentColor;
    height: 1px;
    bottom: 0;
    left: 0;
    max-width: 255px;
    width: 111%;
    &-drag {
      top: -1.5px;
    }
  }
  .swiper-pagination {
    max-width: 255px;
  }
  .swiper-pagination-bullet {
    opacity: 0;
    &-active {
      opacity: 1;
      width: 0;
      font-family: "Montserrat-SemiBold";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */

      color: $textAccentColor;
    }
  }
}
