.open {
  .header__bottom {
    right: 0;
    height: 100%;
    width: 100%;
  }
  .burger__inner {
    span,
    &::before,
    &::after {
      background-color: $secondColor;
    }
  }
  .menu__list{
	gap: 15px;
  }
  .menu__item{
	padding: 0 20%;
	
	background-color: $accentColor;
	border-radius: 10px;
	width: 100%;
	
  }
}
