// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  --title-size: clamp(24px, 1.11vw + 20px, 36px);
  --title-line-height: clamp(28px, 1.48vw + 22.67px, 44px);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  text-align: center;

  color: $textSecondColor;

  &--extrabold {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
    color: $textMainColor;
    display: block;
  }
}

.subtitle {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;

  color: $textSecondColor;
  &--semiBold {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
  }
  &--left {
    text-align: left;
  }
  &--accent {
    color: $textAccentColor;
  }
}

.text {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: $textMainColor;
  &--left {
    text-align: left;
  }
  &--accent {
    color: $textAccentColor;
  }

  &--extrabold {
    font-family: "Montserrat-ExtraBold";
    font-weight: 800;
  }
  &--bold {
    font-family: "Montserrat-Bold";
    font-weight: 700;
  }
  &--main {
    color: $textMainColor;
  }
  &--normal {
    font-family: "Montserrat-Regular";
    font-weight: 400;
  }
  &--small {
    font-size: 16px;
    line-height: 20px;
  }
  &--semiBold {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
  }
}
