.footer {
  padding: 55px 0 0;

  background: #1a1a1a;
  color: $textAccentColor;

  // .footer__wrapper
  &__wrapper {
  }
  // .footer__item
  &__item {
  
  }
  // .footer__title
  &__title {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 12px;
    position: relative;
    &--tel {
      padding-left: 30px;
      &::before {
        @include pseudo;
        @include wh(20px);
        @include background(url("@img/icons/tel-footer.svg"));
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  // .footer__logo
  &__logo {
  }
  // .footer__box
  &__box {
  
    position: relative;
    &--time {
      padding-left: 30px;
      &::before {
        @include pseudo;
        @include wh(20px);
        @include background(url("@img/icons/time-footer.svg"));
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &--mail {
      padding-left: 30px;
      &::before {
        @include pseudo;
        @include wh(20px);
        @include background(url("@img/icons/mail.svg"));
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  // .footer__text
  &__text {
    font-size: 14px;
    line-height: 17px;
  }

  // .footer__link
  &__link {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $textAccentColor;
  }
  // .footer__small
  &__small,
  &__small a {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.65);
  }
}
