
.header {
  position: relative;
	&__top{
		padding: 10px 0;
    @include media (max, lg){
      padding-left: 80px;
    }
&__logo{
  // @include media (max, xl) {
  //   text-align: center;
  // }
}
	}
  
  // .header__box
  &__box {
    position: relative;
	padding-left: 45px;
    padding-top: 5px;
    &::before {
      @include pseudo;
      position: absolute;

      top: 0%;

      left: 15px;
      @include wh(20px);
    }
    &--time::before {
      background-image: url(../img/icons/time.svg);
    }
    &--map::before {
      background-image: url(../img/icons/map.svg);
    }
    &--tel::before {
      background-image: url(../img/icons/tel.svg);
    }
  }

  // .header__text
  &__text {
    font-size: 14px;
    line-height: 17px;

    color: $textMainColor;
  }
  // .header__text--semibold
  &__text--semibold {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    margin-bottom: 5px;
  }

 
  // .header__link
  &__link {
  }
  // .header__bottom
  &__bottom {
	background-color:$mainColor;
	padding: 8px 0;
  @include media (max, lg){
    
    // position: absolute;
    // top: 50%;
    // left: 10px;
    // transform: translateY(-50%);
  }
  }
  .header__bottom > .navbar-collapse.show {
    background-color: red;
  }
  
  // .header__nav
  &__nav {
	padding: 0 10px;
  }
  // .header__toggler
  &__toggler {
  }
  // .header__list
  &__list {
	width: 100%;
  }
  // .header__item
  &__item {
  }
  .navbar {
  .nav-link {


	font-family: "Montserrat-Medium";
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: $textAccentColor;
  }
  

}
.navbar-light .navbar-toggler-icon{
  // position: relative;
  // width: 30px;
  // height: 3px;
  // background-color: $accentColor;
  // background-image: none;
  
  &::after,
  &::before{
    // @include pseudo;
    @include wh(30px, 3px);
    background-color: $accentColor;
    position: absolute;
    left: 0;

  }
  &::after{
    top: 10px;

  }
  &::before{
    top: -10px;
  }
}
}
.container {
}
.row {
}
.logo {
  // .logo__img
  &__img {
  }
}
.col-2 {
}
.col-4 {
}
.col-3 {
}
.container-fluid {
}
.nav {
}
.navbar {
}
.navbar-expand-lg {
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
}
.nav-item {
}

