.header {
  z-index: 100;

  // .header__box
  &__box {
    position: relative;
    padding-left: 30px;

    &::before {
      @include pseudo;
      position: absolute;

      top: 0;

      left: 0;
      @include wh(20px);
    }
    &--time::before {
      background-image: url(../img/icons/time.svg);
    }
    &--map::before {
      background-image: url(../img/icons/map.svg);
    }
    &--tel::before {
      background-image: url(../img/icons/tel.svg);
    }
  }

  // .header__text
  &__text {
    font-size: 14px;
    line-height: 17px;

    color: $textMainColor;
  }
  // .header__text--semibold
  &__text--semibold {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
  }

  // .header__bottom
  &__bottom {
    @include media(max, lg) {
      right: -100%;

      position: fixed;
      top: 0;

      transition: right 0.2s ease-out;
      width: 100%;
      height: 100%;

      z-index: -1;
      text-align: center;
    }

    background-color: $mainColor;
  }

  // .header__nav
  &__nav {
    padding: 0 10px;
  }
}
